<!doctype html>
<html>
<head>
  <title>BOARD</title>
  <meta charset="utf-8">
</head>

<style>
  .board_list {
    width: 950px;
    border-left: none;
    border-right: none;
    margin: 0 auto;
  }
  .board_list ul{
    clear: left;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    border-top: 1px solid skyblue;
  }
  .table_head {
    font-weight: bold ;
    text-align: center;
    border-top: 2px solid skyblue;
    border-bottom: 2px solid skyblue;
  }
  .table_head li {
    border-bottom: 2px solid skyblue;
  }
  .board_list ul li {
    text-align: center;
    float: left;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .idx {
    width: 100px;
  }
  .title {
    width: 500px;
  }
  .time {
    width: 200px;
  }
  .writer {
    width: 150px;
  }

</style>

<body>
  <h1 style="text-align: center">게시판</h1>
  <b><%= me %></b><br>
  <a href="/logout">로그아웃</a><br><br>

  <h3>목록</h3>
  <div class="board_list">
    <ul class="table_head">
      <li class="idx">번호</li>
      <li class="title">제목</li>
      <li class="time">시간</li>
      <li class="writer">글쓴이</li>
    </ul>
    <% board.forEach(function(items) { %>
    <ul>
      <li class="idx" name="idx"><%= items.idx %></li>
      <li class="title" name="title"><a href="/board/content?idx=<%= items.idx%>"><%= items.title %></a></li>
      <li class="time" name="time"><%= items._time %></li>
      <li class="writer" name="writer"><%= items.writer %></li>
    </ul>
    <% }); %>
    <ul style="clear: both"></ul>
  </div>
  <br><br><br>
  <a href="/board/edit/form">글쓰기</a>
</body>
</html>
