<!doctype html>
<html>
<head>
  <title>BOARD</title>
  <link rel="stylesheet" type="text/css" href="/css/board_style.css">
  <meta charset="utf-8">
</head>

<body>
  <h1>게시판</h1>

  <table class="list_frame" align="center">
    <tr>
      <td colspan="2" style="text-align: right">
        <p style="padding: 5px;"><b><%= me %></b>&nbsp;&nbsp;&nbsp;
        <button onclick="location.href='/logout'">Log out</button></p>
      </td>
    </tr>
    <tr>
      <td><h3>목록</h3></td>
      <td>
        <button onclick="location.href='/board/edit/form'" class="writing">글쓰기</button>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="board_list">
          <ul class="table_head">
            <li class="idx">번호</li>
            <li class="title">제목</li>
            <li class="time">시간</li>
            <li class="writer">글쓴이</li>
          </ul>
          <% if (board.length == 0) { %>
            <p style="text-align: center; padding: 40px 0 10px 0; ">등록된 글이 없습니다.</p>
          <% }
          else { %>
            <% board.forEach(function(items) { %>
            <ul>
              <li class="idx" name="idx"><%= items.idx %></li>
              <li class="title" name="title">
                <a href="/board/content?idx=<%= items.idx%>"><%= items.title %></a>
              </li>
              <li class="time" name="time"><%= items._time %></li>
              <li class="writer" name="writer"><%= items.writer %></li>
            </ul>
            <% });
          } %>
          <ul style="clear: both"></ul>
        </div>
      </td>
    </tr>
  </table>
  
</body>
</html>
