<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="post">
  <meta name="author" content="minho-jang">

  <title>gallery</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" >
  
  <!-- Custom styles for this template -->
  <link href="/css/blog-post.css" rel="stylesheet" type="text/css">
  <link href="/css/mycss.css" rel="stylesheet" type="text/css">
</head>

<body>
  <!-- Page Content -->
  <div class="container">
    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">
        <!-- Title -->
        <header><% include ./header %></header>
        <hr>
        
        <!-- writer / datetime -->
        <div class="lead">
          Posted by
          <a class="link_writer" href="/mypage/<%= post.writer %>"><%= post.writer %></a>
          <% if (post.writer == me) { %>
            <div class="post_delete">
              <button type="button" class="btn btn-success btn_delete" onclick='location.href="/post/<%= post.idx %>/update/form"'>글 수정</button>
              <button type="button" class="btn btn-danger btn_delete" onclick='location.href="/post/<%= post.idx %>/delete"'>글 삭제</button>
            </div>
          <% } %>
          <br>          
          <%= post.upTime %>

        </div>
        <hr>

        <!-- Preview Image http://placehold.it/900x300-->
        <img class="img-fluid rounded" src="/<%=post.img_path %>" alt="">

        <hr>
        
        <!-- Post Content -->
        <p class="lead" id="content">
          <%- post.content.replace(/\r\n/g, "<br>") %>
        </p>
        <hr> 

        <!-- 좋아요 -->
        <% if(is_good) { %> 
          <div style="text-align: center">
            <button type="button" class="btn btn-primary" onclick="location.href='/post/<%=post.idx %>/bad'">LIKE <%= post.good %></button>
          </div>  
        <% } else { %>
          <div style="text-align: center">
            <button type="button" class="btn btn-light" onclick="location.href='/post/<%=post.idx %>/good'">LIKE <%= post.good %></button>
          </div> 
        <% } %>

        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Comments</h5>
          <div class="card-body">

            <form action="/post/<%= post.idx %>/comment">
              <div class="form-group">
                <textarea class="form-control" name="content" rows="2"></textarea>
                <div class="btn_right">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </form>

          </div>

        </div>

        <!-- Single Comment -->
        <% comment.forEach(function(item) { %>
        <div class="media mb-4">
          <div class="media-body">

            <h5 class="mt-0"><%= item.writer %> &nbsp;&nbsp;<span class="comment_time"><%= item.upTime %></span>
              <div style="float: right">
                <button type="button" onclick='location.href="/post/<%= post.idx %>/comment/delete?writer=<%= item.writer %>&comm_idx=<%= item.idx%>"' class="btn btn-danger btn_delete">삭제</button>
              </div>
            </h5>
            <div>
              <%- item.content.replace(/\r\n/g, "<br>") %>
            </div>

          </div>
        </div>
        <% }); %>

      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
</body>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</html>