<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>board</title>
</head>
<h3>환영합니다. <%=session_name%>님</h3>
<br>
<a href='/board1/form'>글쓰기</a>
<a href='/'>로그아웃</a>



<table border="1" style="width:600px">
    <caption>게시판</caption>
    <colgroup>
        <col width='8%' />
        <col width='*%' />
        <col width='15%' />
        <col width='15%' />
    </colgroup>
    <thead>
    <tr>
        <th>번호</th>
        <th>ID</th>
        <th>제목</th>
        <th>작성일</th>
        <th>조회수</th>
    </tr>
    </thead>
    <tbody>
    <%
    for(var i=0; i<rows.length; i++) {
    %>
    <tr>
        <td><%=rows[i].post_num%></td>
        <td><%=rows[i].username%></td>
        <td><a href='/board1/read?post_num=<%=rows[i].post_num%>'><%=rows[i].post_title%></a></td>
        <td><%=rows[i].post_date%></td>
        <td><%=rows[i].post_views%></td>
    </tr>
    <%
    }
    %>
    </tbody>
</table>
</body>
</html>