<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>board</title>
</head>
<h3>환영합니다. <%=session_name%>님</h3>
<br>
<a href='/board1/form'>글쓰기</a>
<a href='/'>로그아웃</a>



<table border="1" style="width:600px">
    <caption>게시판</caption>
    <colgroup>
        <col width='8%' />
        <col width='*%' />
        <col width='15%' />
        <col width='15%' />
    </colgroup>
    <thead>
    <tr>
        <th>번호</th>
        <th>ID</th>
        <th>제목</th>
        <th>작성일</th>
        <th>조회수</th>
    </tr>
    </thead>
    <tbody>
    <%
    var x = paging.curPage;
    for(var i = (x-1)*10; i< ((x-1)*10+10); i++) {
        if(rows[i]==null)    {
            break;
        }
    %>
    <tr>
        <td><%=rows[i].post_num%></td>
        <td><%=rows[i].username%></td>
        <td><a href='/board1/read?post_num=<%=rows[i].post_num%>'><%=rows[i].post_title%></a></td>
        <td><%=rows[i].post_date%></td>
        <td><%=rows[i].post_views%></td>
    </tr>
    <%
    }
    %>
    </tbody>
</table>
<div class="container">
    <ul class="pager">
        <%
        var curSet = paging.curSet
        var endPage = paging.endPage
        var startPage = paging.startPage
        var totalSet = paging.totalSet
        var totalPage = paging.totalPage
        var page_list_size = paging.page_list_size
        var page_size = paging.page_size
        var curPage = paging.curPage
        %>
        <%
        if(curSet > 1){
        %>
            <li value=(startPage -1) class="previous">
                <a href='/board1/list?cur=<%= ( startPage - 1) %>'>이전페이지</a>
            </li>
        <%
        }
        %>
        <%
        for(var i = startPage; i <= endPage; i++){
            if(i > totalPage){break;}
        if(i == curPage){
        %>
            <li value=<%= i %> class='' >
                <a href='/board1/list?cur=<%= i %>'>
                    <%= i %>
                </a>
            </li>
        <%
        }else{
        %>
            <li value=<%= i %> class='active' >
                <a href='/board1/list?cur=<%= i %>'>
                    <%= i %>
                </a>
            </li>
        <%
        }
        %>
        <%
        }
        %>
        <%
        if(curSet < totalSet){
        %>
            <li value=( endPage + 1) class="next">
                <a href='/board1/list?cur=<%= ( endPage + 1) %>'>다음페이지</a>
            </li>
        <%
        }
        %>
    </ul>
</div>
</body>
</html>