-var plusinfolist = plusinfo
div
  li 수입내역
  table.table.table-hover
   thead
     th(scope='cols' style="width:10%") 수입내역
     th(scope='cols' style="width:10%") 수입금액
     th(scope='cols' style="width:5%") 카테고리
     th(scope='cols' style="width:15%") 날짜
     th(scope='cols' style="width:3%") 결제
     th(scope='cols' style="width:3%") 삭제
   tbody
     each plusinfo in plusinfos
       tr
         td=plusinfo.p_expense
         td=plusinfo.p_price
         td=plusinfo.category
         td=plusinfo.date
         td=plusinfo.type
         td
            form(method="post" action="/import/delete/"+plusinfo.num)
                input(type="submit" value="삭제")

         
